<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>web socket demo</title>
</head>
<body>
<form name="paymentForm" action="/web/pay.htm" method="post">
    订单号：<input id="orderNo" name="orderNo" value="201812345678901">
    <br/>
    支付金额：<input id="payAmt" name="payAmt" value="100">
    <br/>
    <input id="message" value="我是客户端,我发起了100元的支付请求！"/>
    <br/>
    <input type="button" value="提交支付" onclick="pay();"/>
    <br/>
</form>
<div id="content">
</div>
<script>
    var socket;
    var t;
    window.onload = function () {
        connection();
    }

    function pay() {
        //TODO 提交支付先不管 模拟提交之后 异步往socket发消息 等待服務器返回
        /*this.paymentForm.onsubmit;*/
        sendClick();
    }

    function sendClick() {
        var orderNo = document.getElementById("orderNo").value;
        var payAmt = document.getElementById("payAmt").value;
        var obj = {
            "orderNo": orderNo,
            "payAmt": payAmt
        };
        socket.send(JSON.stringify(obj));
    }

    var connection = function () {
        var orderNo = document.getElementById("orderNo");
        //服务端 提供出來的web socket url
        var url = 'ws://192.168.1.50:8080/web/socket/pay/' + orderNo.value;
        socket = new WebSocket(url);
        socket.onopen = onopen;
        socket.onmessage = onmessage;
        socket.onclose = onclose;
        socket.onerror = onerror;
    }

    var onopen = function () {
        console.log("onopen()");
    }
    var onclose = function () {
        console.log("onclose()");
        reconnection();
    }
    //重连
    var reconnection = function () {
        //与服务器已经建立连接
        if (socket && socket.readyState == 1) {
            clearTimeout(t);
        } else {
            if (socket.readyState == 3) {
                connection();
            }
            //0正尝试与服务器建立连接,2正在关闭与服务器的连接
            t = setTimeout(function () {
                reconnection();
            }, 1000);
        }
    }
    var onmessage = function (e) {
        alert("收到后台异步消息！");
        if (e.data === "") return;
        document.getElementById("content").innerHTML = document.getElementById("content").innerHTML + '<br/>' + e.data;
    }

    var onerror = function () {
        reconnection();
    }


</script>
</body>
</html>